.container {
    display: flex;
    justify-content: space-between;
}
.button {
    border: none;
    padding: 12px 16px;
    background-color: crimson;
    color: #ffffff;
    width: max-content;
    border-radius: 5px;
    cursor: pointer;
}
.button:disabled{
    background-color: rgba(220, 20, 60, 0.54);
    cursor: not-allowed;
}