.container {
  flex: 2;
  margin-top: 60px;
}
.title {
  font-size: 24px;
}
.subTitle {
  color: gray;
  font-size: 14px;
  font-weight: 400;
}

/* media queries */

@media screen and (max-width: 1024px) {
  .container {
    display: none;
  }
}
