.container {

}
.editor {
    display: flex;
    gap: 20px;
    height: 700px;
    position: relative;
}
.textArea {
    width: 96%;
    position: absolute;
    top: 50px;
    left: 50px;
    font-size: 24px;
}
.button, .addButton {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 1px solid var(--textColor);
    background-color: transparent;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.addButton {
    border-color: #1a8917;
}
.add {
    display: flex;
    gap: 20px;
    background-color: var(--bg);
    position: absolute;
    z-index: 999;
    width: 100%;
    left: 50px;
}
.input {
    padding: 50px;
    font-size: 48px;
    border: none;
    outline: none;
    background-color: transparent;
}
.input::placeholder {
    color: #b3b3b1;
}
.publish {
    position: absolute;
    top: 30px;
    right: 20px;
    padding: 10px 20px;
    border: none;
    background-color: #1a8917;
    color: #ffffff;
    cursor: pointer;
    border-radius: 20px;
}